* {
    margin: 0;
    padding: 0;
    font-family: 思源黑体;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#billboard {
    --紧迫度: 1;
    --super-margin: 200px;
}

#billboard #title {
    margin: 40px var(--super-margin) 0;
}

#billboard #unit {
    margin: 0 var(--super-margin) 0;
    color: #cccccc;
    text-align: right;
    font-style: italic;
}

#billboard #data {
    margin: 30px var(--super-margin);
}

@keyframes show-up {
    0% {
        top: calc(-1.5 * var(--height));
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

#billboard #data .item {
    --themecolor: #000000;
    --width: 1;
    --height: 30px;

    position: relative;
    z-index: 100;
    margin: calc(0.5 * var(--height)) 0;
    width: calc(70% * var(--width));
    height: var(--height);
    background: var(--themecolor);
    animation: show-up calc(1.8s / var(--紧迫度));
    transition: all calc(2.4s / var(--紧迫度));
}

#billboard #data .item .key-box {
    position: relative;
    z-index: 100;
    overflow-x: clip;
}

@keyframes go-down {
    0% {
        top: calc(-1.5 * var(--height));
    }

    100% {
        top: 0;
    }
}

.untop {
    animation: go-down calc(1.2s / var(--紧迫度)) !important;
}

#billboard #data .item .key-box .key {
    position: absolute;
    z-index: 110;
    top: -12px;
    right: 16px;
    white-space: nowrap;
    transition: all 20s;
    color: #ffffff;
    font-size: 26px;
    font-weight: bolder;
    text-shadow:
        -1px -1px 0 var(--themecolor),
        -1px 1px 0 var(--themecolor),
        1px -1px 0 var(--themecolor),
        1px 1px 0 var(--themecolor);
}

#billboard #data .item .key-box .key:hover {
    right: -600px;
}

#billboard #data .item .value {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 100%;
    color: var(--themecolor);
    font-size: 26px;
    font-weight: bold;
    line-height: var(--height);
    text-indent: 8px;
}

#billboard #thumb {
    position: fixed;
    z-index: -1;
    right: 40px;
    bottom: 40px;
    width: 350px;
    height: 350px;
    background: center no-repeat url();
    background-size: contain;
    transition: all calc(1.2s / var(--紧迫度));
}